importFrom("stats", "pnorm", "dnorm", "integrate")
importFrom("grDevices", "grey")
importFrom("graphics", "abline", "axis", "legend", "mtext", "segments")
importFrom("mvtnorm", "pmvnorm")

## which functions shall be accessible by the users?
export(
    NormalNormalPosterior,
    basicPlot,
    bpp,
    bpp_binary,
    bpp_continuous,
    bpp_t2e,
    post_power,
    dUniformNormalTails,
    pUniformNormalTails,
    estimate_posterior_nominator,
    estimate_posterior,
    estimate_toIntegrate,
    interval_posterior_nominator,
    interval_toIntegrate,
    bpp_1interim,
    bpp_1interim_binary,
    bpp_1interim_continuous,
    bpp_1interim_t2e,
    interval_posterior_nominator2,
    interval_toIntegrate2,
    bpp_2interim,
    FlatNormalPosterior
)





